In [37]:
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="aaron2013",
    auth_plugin="mysql_native_password"
)

In [16]:
import pandas as pd

In [38]:
mycursor = mydb.cursor()

In [8]:
mycursor.execute("CREATE DATABASE project_police")

In [14]:
mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('db1',)
('information_schema',)
('mysql',)
('performance_schema',)
('police',)
('project_police',)
('sakila',)
('sys',)
('world',)

In [41]:
mycursor.execute("use project_police")

In [19]:
import pandas as pd

df = pd.read_csv(
    r'C:\Users\viju\Desktop\Python_notes\Project_Data_Set\traffic_stops-traffic_stops_with_vehicle_number.csv',
    low_memory=False
)

In [20]:
df

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,2020-01-01,0:00:00,Canada,M,59,19,Asian,Drunk Driving,Speeding,True,Vehicle Search,Ticket,True,16-30 Min,True,UP76DY3473
1,2020-01-01,0:01:00,India,M,35,58,Other,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,True,RJ83PZ4441
2,2020-01-01,0:02:00,USA,M,26,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264
3,2020-01-01,0:03:00,Canada,M,26,76,Black,Speeding,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807
4,2020-01-01,0:04:00,Canada,M,62,75,Other,Speeding,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,WB63BB8305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65533,2020-02-15,12:13:00,India,F,54,48,Black,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,DL56GW6568
65534,2020-02-15,12:14:00,Canada,F,18,35,Hispanic,Seatbelt,Other,True,Vehicle Search,Ticket,False,16-30 Min,True,TN73EO7098
65535,2020-02-15,12:15:00,USA,M,27,41,Asian,Seatbelt,DUI,True,Frisk,Ticket,True,30+ Min,True,GJ33MX8328
65536,2020-02-15,12:16:00,Canada,F,49,63,Black,Seatbelt,Other,False,NaN,Warning,True,0-15 Min,True,KA24UZ8488
65537,2020-02-15,12:17:00,USA,F,72,32,Other,Seatbelt,Speeding,True,NaN,Ticket,True,16-30 Min,False,UP89PT2924

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65538 entries, 0 to 65537
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           65538 non-null  object
 1   stop_time           65538 non-null  object
 2   country_name        65538 non-null  object
 3   driver_gender       65538 non-null  object
 4   driver_age_raw      65538 non-null  int64
 5   driver_age          65538 non-null  int64
 6   driver_race         65538 non-null  object
 7   violation_raw       65538 non-null  object
 8   violation           65538 non-null  object
 9   search_conducted    65538 non-null  bool
 10  search_type         43818 non-null  object
 11  stop_outcome        65538 non-null  object
 12  is_arrested         65538 non-null  bool
 13  stop_duration       65538 non-null  object
 14  drugs_related_stop  65538 non-null  bool
 15  vehicle_number      65538 non-null  object
dtypes: bool(3), int64(2), object(11)
memory usage: 6.7+ MB

In [22]:
df.describe()

       driver_age_raw   driver_age
count    65538.000000  65538.00000
mean        49.055998     49.11221
std         18.174699     18.15012
min         18.000000     18.00000
25%         33.000000     34.00000
50%         49.000000     49.00000
75%         65.000000     65.00000
max         80.000000     80.00000

In [23]:
df.isnull()

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65533,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
65534,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
65535,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
65536,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
65537,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False

In [24]:
df.isnull().sum()

stop_date                 0
stop_time                 0
country_name              0
driver_gender             0
driver_age_raw            0
driver_age                0
driver_race               0
violation_raw             0
violation                 0
search_conducted          0
search_type           21720
stop_outcome              0
is_arrested               0
stop_duration             0
drugs_related_stop        0
vehicle_number            0
dtype: int64

In [26]:
df.fillna("Normal")

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,2020-01-01,0:00:00,Canada,M,59,19,Asian,Drunk Driving,Speeding,True,Vehicle Search,Ticket,True,16-30 Min,True,UP76DY3473
1,2020-01-01,0:01:00,India,M,35,58,Other,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,True,RJ83PZ4441
2,2020-01-01,0:02:00,USA,M,26,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264
3,2020-01-01,0:03:00,Canada,M,26,76,Black,Speeding,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807
4,2020-01-01,0:04:00,Canada,M,62,75,Other,Speeding,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,WB63BB8305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65533,2020-02-15,12:13:00,India,F,54,48,Black,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,DL56GW6568
65534,2020-02-15,12:14:00,Canada,F,18,35,Hispanic,Seatbelt,Other,True,Vehicle Search,Ticket,False,16-30 Min,True,TN73EO7098
65535,2020-02-15,12:15:00,USA,M,27,41,Asian,Seatbelt,DUI,True,Frisk,Ticket,True,30+ Min,True,GJ33MX8328
65536,2020-02-15,12:16:00,Canada,F,49,63,Black,Seatbelt,Other,False,Normal,Warning,True,0-15 Min,True,KA24UZ8488
65537,2020-02-15,12:17:00,USA,F,72,32,Other,Seatbelt,Speeding,True,Normal,Ticket,True,16-30 Min,False,UP89PT2924

In [27]:
df.isnull().sum()

stop_date                 0
stop_time                 0
country_name              0
driver_gender             0
driver_age_raw            0
driver_age                0
driver_race               0
violation_raw             0
violation                 0
search_conducted          0
search_type           21720
stop_outcome              0
is_arrested               0
stop_duration             0
drugs_related_stop        0
vehicle_number            0
dtype: int64

In [28]:
df.fillna({'search_type':'Normal'},inplace=True)

In [32]:
    df.isnull().sum()

stop_date             0
stop_time             0
country_name          0
driver_gender         0
driver_age_raw        0
driver_age            0
driver_race           0
violation_raw         0
violation             0
search_conducted      0
search_type           0
stop_outcome          0
is_arrested           0
stop_duration         0
drugs_related_stop    0
vehicle_number        0
dtype: int64

In [30]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
65533    False
65534    False
65535    False
65536    False
65537    False
Length: 65538, dtype: bool

In [31]:
table_name = "Police_post_log"

# Create table SQL dynamically
columns = ", ".join([f"`{col}` TEXT" for col in df.columns])
create_table_query = f"CREATE TABLE IF NOT EXISTS {table_name} ({columns});"

mycursor.execute(create_table_query)
mydb.commit()
print("âœ… Table created successfully!")

âœ… Table created successfully!

In [34]:
table_name = "Police_post_log"  # ðŸ‘ˆ define your table name

placeholders = ", ".join(["%s"] * len(df.columns))
columns = ", ".join([f"`{col}`" for col in df.columns])
sql = f"INSERT INTO {table_name} ({columns}) VALUES ({placeholders})"

# Convert DataFrame rows to tuples
data = [tuple(row) for row in df.to_numpy()]

# Insert all data
mycursor.executemany(sql, data)
mydb.commit()

print(f"âœ… {mycursor.rowcount} rows inserted into '{table_name}' successfully!")

âœ… 65538 rows inserted into 'Police_post_log' successfully!

In [43]:
mycursor.execute("SELECT * FROM Police_post_log")

myresult = mycursor.fetchall()

for x in myresult[:10]:
  print(x)

('2020-01-01', '0:00:00', 'Canada', 'M', '59', '19', 'Asian', 'Drunk Driving', 'Speeding', '1', 'Vehicle Search', 'Ticket', '1', '16-30 Min', '1', 'UP76DY3473')
('2020-01-01', '0:01:00', 'India', 'M', '35', '58', 'Other', 'Other', 'Other', '0', 'Vehicle Search', 'Arrest', '1', '16-30 Min', '1', 'RJ83PZ4441')
('2020-01-01', '0:02:00', 'USA', 'M', '26', '76', 'Black', 'Signal Violation', 'Speeding', '0', 'Frisk', 'Ticket', '1', '16-30 Min', '1', 'RJ32OM7264')
('2020-01-01', '0:03:00', 'Canada', 'M', '26', '76', 'Black', 'Speeding', 'DUI', '1', 'Frisk', 'Warning', '0', '0-15 Min', '1', 'RJ76TI3807')
('2020-01-01', '0:04:00', 'Canada', 'M', '62', '75', 'Other', 'Speeding', 'Other', '0', 'Vehicle Search', 'Arrest', '1', '16-30 Min', '0', 'WB63BB8305')
('2020-01-01', '0:05:00', 'Canada', 'F', '44', '73', 'Other', 'Drunk Driving', 'Other', '1', 'Vehicle Search', 'Ticket', '0', '16-30 Min', '0', 'MH89ZF7676')
('2020-01-01', '0:06:00', 'USA', 'F', '80', '70', 'White', 'Signal Violation', 'Speeding', '0', 'Vehicle Search', 'Ticket', '0', '30+ Min', '0', 'KA40AD3153')
('2020-01-01', '0:07:00', 'India', 'M', '72', '50', 'Asian', 'Drunk Driving', 'Other', '0', 'Normal', 'Arrest', '1', '30+ Min', '1', 'DL75KZ7835')
('2020-01-01', '0:08:00', 'USA', 'F', '80', '30', 'Hispanic', 'Other', 'Seatbelt', '1', 'Frisk', 'Arrest', '0', '0-15 Min', '1', 'DL50PO5101')
('2020-01-01', '0:09:00', 'USA', 'M', '43', '21', 'Asian', 'Signal Violation', 'Signal', '1', 'Normal', 'Warning', '1', '16-30 Min', '0', 'KA79RD2271')